.all-pages-row {
    width: 370px;
	height: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 8px 15px 8px 22px;
    background-color: #ffffff;
    cursor: pointer;
  }

  .all-pages-text {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	color: #1f2128;
}

.checkbox-frame {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
  