input[type="checkbox"] {
	width: 23px;
	height: 23px;
	border: 1px solid #cdcdcd;
	border-radius: 6px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	position: relative;
	background-color: #fff;
	opacity: 0.6;
}

input[type="checkbox"].checkbox--variant4 {
	background-color: #5087f8;
}

.checkbox:checked::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 17px;
	height: 12px;
}

input[type="checkbox"].checkbox--default:checked::before {
	content: "";
}

input[type="checkbox"].checkbox--variant2:checked::before {
	background-color: #e3e3e3;

	-webkit-mask: url("gray-tick.svg") center / contain no-repeat;
	mask: url("gray-tick.svg") center / contain no-repeat;
}

input[type="checkbox"].checkbox--variant9:checked::before {
	background-color: #878787;

	-webkit-mask: url("gray-tick.svg") center / contain no-repeat;
	mask: url("gray-tick.svg") center / contain no-repeat;
}

input[type="checkbox"].checkbox--variant4:checked::before {
	background-color: #878787;

	-webkit-mask: url("gray-tick.svg") center / contain no-repeat;
	mask: url("gray-tick.svg") center / contain no-repeat;
}
