.checkbox {
	width: 23px;
	height: 23px;
	border-radius: 6px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #cdcdcd;
	opacity: 60%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 12px;
}

.checkbox.default {
	border: 1px solid #cdcdcd;
	background-color: #ffffff;
	background-image: none;
}

.checkbox.variant2 {
	border: 1px solid #bdbdbd;
	background-image: url("/icons/lighter-gray-tick.svg");
	opacity: 1;
}

.checkbox.variant3 {
	border: 1px solid #bdbdbd;
	background-image: url("/icons/gray-tick.svg");
	opacity: 1;
}

.checkbox.variant4 {
	border: none;
	background-color: #5087f8;
	background-image: url("/icons/whiter-tick.svg");
	opacity: 1;
}

.checkbox.variant5 {
	border: none;
	background-color: #2469f6;
	background-image: url("/icons/whiter-tick.svg");
	opacity: 1;
}

.checkbox.variant6 {
	border: none;
	background-color: #5087f8;
	background-image: url("/icons/whiter-tick.svg");
	opacity: 1;
}

.checkbox.variant7 {
	border: none;
	background-color: #2469f6;
	background-image: url("/icons/whiter-tick.svg");
	opacity: 1;
}

.checkbox.variant8 {
	border: 1px solid #bdbdbd;
	background-image: url("/icons/lighter-gray-tick.svg");
	opacity: 1;
}
